




<!DOCTYPE HTML>
<html lang="fr" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <link rel="icon" type="image/svg+xml" href="https:&#x2F;&#x2F;raw.githubusercontent.com&#x2F;FAIR2Adapt&#x2F;Hack4RiOMAR&#x2F;refs&#x2F;heads&#x2F;main&#x2F;static&#x2F;riomar.png" />
  <meta property="og:title" content="Workathon Overview ⋅ Hack4RiOMAR" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="fr_FR" />
  <meta property="og:site_name" content="Hack4RiOMAR" />
  <meta property="og:url" content="https:&#x2F;&#x2F;fair2adapt.github.io&#x2F;Hack4RiOMAR&#x2F;workathon&#x2F;" />
  <meta property="og:description" content="" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Workathon Overview ⋅ Hack4RiOMAR" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:url" content="https:&#x2F;&#x2F;fair2adapt.github.io&#x2F;Hack4RiOMAR&#x2F;workathon&#x2F;" />
  <meta name="twitter:card" content="summary" />
  
  
  <meta property="og:image" content="https://fair2adapt.github.io/Hack4RiOMAR/illus.png" />
  <meta name="twitter:image" content="https://fair2adapt.github.io/Hack4RiOMAR/illus.png" />
  
  <title>Workathon Overview ⋅ Hack4RiOMAR</title>
  <link rel="stylesheet" href="https://fair2adapt.github.io/Hack4RiOMAR/site.css?h=dbc406d2f9b11f8421d6" media="all" />
  
  <style>
    * {
      --primary: #1DC690;

      --accent: #1D6886;
    }
  </style>
</head>

<body>
  <header>
    <h1><a href="/">Hack4RiOMAR</a></h1>
    <img src="https:&#x2F;&#x2F;raw.githubusercontent.com&#x2F;FAIR2Adapt&#x2F;Hack4RiOMAR&#x2F;refs&#x2F;heads&#x2F;main&#x2F;static&#x2F;riomar.png" alt="Icon of the RiOMar project" style="border: none; width: 50px;" />
  </header>
  
  <main>
    
    
    
    
    <a href="https:&#x2F;&#x2F;fair2adapt.github.io&#x2F;Hack4RiOMAR&#x2F;">DGGS for FAIR2Adapt case studies</a>
    
    <h1>Workathon Overview</h1>
    
    







    
    
    


<p>In this section, we’ll recap the key highlights and outcomes of the workathon, and provide a link to our blog for a deeper dive into the event.</p>


<ol class="toc">

    <li>
        <a href="https://fair2adapt.github.io/Hack4RiOMAR/workathon/overview/">Event Overview</a>
        <p></p>
    </li>

    <li>
        <a href="https://fair2adapt.github.io/Hack4RiOMAR/workathon/highlights/">Event Highlights &amp; Outcomes</a>
        <p></p>
    </li>

    <li>
        <a href="https://fair2adapt.github.io/Hack4RiOMAR/workathon/blog/">Read More in Our Blog</a>
        <p></p>
    </li>

</ol>


    <nav>
        
        
        
            <a href="https://fair2adapt.github.io/Hack4RiOMAR/workathon/overview/">Page suivante ⇨</a>
        
    </nav>



    <!-- <% if current_page.data.prev || current_page.data.next %>
        <nav>
          <% if current_page.data.prev %>
            <a href="/<%= current_page.data.prev %>">⇦ Page précédente</a>
          <% end%>
          <% if current_page.data.next %>
            <a href="/<%= current_page.data.next %>">Page suivante ⇨</a>
          <% end%>
        </nav>
        <% end %> -->
  </main>
  <footer>
    <p>This website is <a href="https:&#x2F;&#x2F;github.com&#x2F;FAIR2Adapt&#x2F;Hack4RiOMAR">modifiable by everyone</a>.</p>
    <p>It is distributed under GPLv3.0 License</p>
  </footer>
  <script src="https://fair2adapt.github.io/Hack4RiOMAR/theme.js" integrity="sha384-6r35zGFpokRvH+f/QNl+jia1+5Xqg4mWTiIL43kLNjMv//Po/P7ypL4mD9BqZc9q"></script>
</body>

</html>
