




<!DOCTYPE HTML>
<html lang="fr" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <link rel="icon" type="image/svg+xml" href="https:&#x2F;&#x2F;raw.githubusercontent.com&#x2F;FAIR2Adapt&#x2F;Hack4RiOMAR&#x2F;refs&#x2F;heads&#x2F;main&#x2F;static&#x2F;riomar.png" />
  <meta property="og:title" content="DGGS for FAIR2Adapt case studies ⋅ Hack4RiOMAR" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="fr_FR" />
  <meta property="og:site_name" content="Hack4RiOMAR" />
  <meta property="og:url" content="https:&#x2F;&#x2F;fair2adapt.github.io&#x2F;Hack4RiOMAR&#x2F;" />
  <meta property="og:description" content="" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="DGGS for FAIR2Adapt case studies ⋅ Hack4RiOMAR" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:url" content="https:&#x2F;&#x2F;fair2adapt.github.io&#x2F;Hack4RiOMAR&#x2F;" />
  <meta name="twitter:card" content="summary" />
  
  
  <meta property="og:image" content="https://fair2adapt.github.io/Hack4RiOMAR/illus.png" />
  <meta name="twitter:image" content="https://fair2adapt.github.io/Hack4RiOMAR/illus.png" />
  
  <title>DGGS for FAIR2Adapt case studies ⋅ Hack4RiOMAR</title>
  <link rel="stylesheet" href="https://fair2adapt.github.io/Hack4RiOMAR/site.css?h=dbc406d2f9b11f8421d6" media="all" />
  
  <style>
    * {
      --primary: #1DC690;

      --accent: #1D6886;
    }
  </style>
</head>

<body>
  <header>
    <h1><a href="/">Hack4RiOMAR</a></h1>
    <img src="https:&#x2F;&#x2F;raw.githubusercontent.com&#x2F;FAIR2Adapt&#x2F;Hack4RiOMAR&#x2F;refs&#x2F;heads&#x2F;main&#x2F;static&#x2F;riomar.png" alt="Icon of the RiOMar project" style="border: none; width: 50px;" />
  </header>
  
  <main>
    
    
    <h1>DGGS for FAIR2Adapt case studies</h1>
    
    

<p><img src="https://raw.githubusercontent.com/FAIR2Adapt/Hack4RiOMAR/refs/heads/main/static/logoFAIR2Adapt_with_earth.png" alt="" /></p>
<h1 id="welcome-to-the-1st-fair2adapt-case-study-workshop">Welcome to the 1st FAIR2Adapt Case Study Workshop!</h1>
<p>🌍📊 We’re excited to welcome you to the first workshop for the FAIR2Adapt RiOMar Case Study. For this inaugural workshop, the RiOMar community has chosen to focus on understanding the RiOMar data and exploring how to leverage DGGS (Discrete Global Grid System) to enhance data usability for end-users. To make it even more effective, we’ve organized this event as a workathon!</p>
<p>Why a workathon? Because we've invited external experts to collaborate with us and help us maximize the potential of DGGS for the FAIR2Adapt project.</p>
<p>Together, we’ll explore high-resolution RiOMar data, dive into DGGS-powered workflows (with xDGGS + Pangeo 🚀), and lay the foundation for FAIR, scalable solutions that support climate adaptation.</p>
<p>Let’s collaborate, innovate, and make an impact! 💡🌱</p>
<h2 id="advancing-fair-workflows-for-climate-adaptation">Advancing FAIR Workflows for Climate Adaptation</h2>
<p>This workathon is a unique opportunity to collaborate with peers and contribute to innovative workflows that empower climate resilience. If you’ve received this invitation, we look forward to your insights and expertise.</p>
<h2 id="data-challenges-for-the-fair2adapt-riomar-case-study">Data challenges for the FAIR2Adapt RiOMar Case study</h2>
<p>This case study is led by <a href="http://ifremer.fr">IFREMER</a> and builds on the outcomes of the RiOMar Project - Coastal Water Quality Anticipation to manage coastal zone ecosystem responses for biodiversity conservation. The RiOMar project’s data is high-resolution and complex to manipulate. To effectively support climate adaptation strategies and plans, it is crucial to maintain the high-resolution quality while enabling efficient data fusion with diverse datasets.</p>
<h2 id="event-details">Event Details</h2>
<ul>
<li>Dates: 16-19 January 2025</li>
<li>Location: Geilo, Norway</li>
<li>By invitation only, with a maximum capacity of 7 participants. Most participants will be from the FAIR2Adapt project, with a few additional experts in DGGS invited to complement our group. Invitees will receive a detailed agenda and preparation materials.</li>
</ul>
<h2 id="organizers-and-sponsors">Organizers and Sponsors</h2>
<p>This workathon is organised by <a href="https://www.simula.no">Simula Research Laboratory</a> as part of the <a href="http://fair2adapt-eosc.eu">FAIR2Adapt project</a>.</p>
<p>The FAIR2Adapt project has received funding from the European Union’s HORIZON-INFRA-2024-EOSC-01-01 programme under grant agreement No 101188256.</p>
<h1 id="event-overview-and-outcomes">Event Overview and Outcomes</h1>
<p>You will find more information about the workathon, including the program and a summary of the outcomes.</p>


<ol class="toc">
    
    
    <li><a href="https://fair2adapt.github.io/Hack4RiOMAR/workathon/">Workathon Overview</a>
        <ol>
            
            <li><a href="https://fair2adapt.github.io/Hack4RiOMAR/workathon/overview/">Event Overview</a></li>
            
            <li><a href="https://fair2adapt.github.io/Hack4RiOMAR/workathon/highlights/">Event Highlights &amp; Outcomes</a></li>
            
            <li><a href="https://fair2adapt.github.io/Hack4RiOMAR/workathon/blog/">Read More in Our Blog</a></li>
            
        </ol>
    </li>
    
</ol>


    <!-- <% if current_page.data.prev || current_page.data.next %>
        <nav>
          <% if current_page.data.prev %>
            <a href="/<%= current_page.data.prev %>">⇦ Page précédente</a>
          <% end%>
          <% if current_page.data.next %>
            <a href="/<%= current_page.data.next %>">Page suivante ⇨</a>
          <% end%>
        </nav>
        <% end %> -->
  </main>
  <footer>
    <p>This website is <a href="https:&#x2F;&#x2F;github.com&#x2F;FAIR2Adapt&#x2F;Hack4RiOMAR">modifiable by everyone</a>.</p>
    <p>It is distributed under GPLv3.0 License</p>
  </footer>
  <script src="https://fair2adapt.github.io/Hack4RiOMAR/theme.js" integrity="sha384-6r35zGFpokRvH+f/QNl+jia1+5Xqg4mWTiIL43kLNjMv//Po/P7ypL4mD9BqZc9q"></script>
</body>

</html>
