




<!DOCTYPE HTML>
<html lang="fr" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <link rel="icon" type="image/svg+xml" href="https:&#x2F;&#x2F;raw.githubusercontent.com&#x2F;FAIR2Adapt&#x2F;Hack4RiOMAR&#x2F;refs&#x2F;heads&#x2F;main&#x2F;static&#x2F;riomar.png" />
  <meta property="og:title" content="Read More in Our Blog ⋅ Hack4RiOMAR" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="fr_FR" />
  <meta property="og:site_name" content="Hack4RiOMAR" />
  <meta property="og:url" content="https:&#x2F;&#x2F;fair2adapt.github.io&#x2F;Hack4RiOMAR&#x2F;workathon&#x2F;blog&#x2F;" />
  <meta property="og:description" content="" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Read More in Our Blog ⋅ Hack4RiOMAR" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:url" content="https:&#x2F;&#x2F;fair2adapt.github.io&#x2F;Hack4RiOMAR&#x2F;workathon&#x2F;blog&#x2F;" />
  <meta name="twitter:card" content="summary" />
  
  
  <meta property="og:image" content="https://fair2adapt.github.io/Hack4RiOMAR/illus.png" />
  <meta name="twitter:image" content="https://fair2adapt.github.io/Hack4RiOMAR/illus.png" />
  
  <title>Read More in Our Blog ⋅ Hack4RiOMAR</title>
  <link rel="stylesheet" href="https://fair2adapt.github.io/Hack4RiOMAR/site.css?h=dbc406d2f9b11f8421d6" media="all" />
  
  <style>
    * {
      --primary: #1DC690;

      --accent: #1D6886;
    }
  </style>
</head>

<body>
  <header>
    <h1><a href="/">Hack4RiOMAR</a></h1>
    <img src="https:&#x2F;&#x2F;raw.githubusercontent.com&#x2F;FAIR2Adapt&#x2F;Hack4RiOMAR&#x2F;refs&#x2F;heads&#x2F;main&#x2F;static&#x2F;riomar.png" alt="Icon of the RiOMar project" style="border: none; width: 50px;" />
  </header>
  
  <main>
    
    
    
    
    <a href="https:&#x2F;&#x2F;fair2adapt.github.io&#x2F;Hack4RiOMAR&#x2F;">DGGS for FAIR2Adapt case studies</a>
    
    
    &mdash;
    <a href="https:&#x2F;&#x2F;fair2adapt.github.io&#x2F;Hack4RiOMAR&#x2F;workathon&#x2F;">Workathon Overview</a>
    
    <h1>Read More in Our Blog</h1>
    
    




    



    
    
        
        
        
            
        
            
        
            
                
            
        
    

<h2 id="launching-fair2adapt-case-studies-highlights-from-hack4riomar">Launching FAIR2Adapt Case Studies: Highlights from Hack4RiOMar</h2>
<h3 id="event-overview-bookmark-tabs">Event Overview 📑</h3>
<p>The Hack4RiOMar workathon brought together six motivated participants in person, collaborating to advance the FAIR2Adapt RiOMar Case Study—the first workshop in our series of FAIR2Adapt case studies. We extend our gratitude 👏  to the external experts who participated at their own expense, bringing their expertise to tackle challenges and drive progress.</p>
<p><strong>Participants</strong> 🙋🙋:</p>
<table><thead><tr><th>Name</th><th>Organization</th><th>GitHub Username</th><th>ORCID</th></tr></thead><tbody>
<tr><td>Even Moa Myklebust</td><td>Simula Research Laboratory (Norway)</td><td>@evenmm</td><td><a href="https://orcid.org/0000-0002-8380-6370">0000-0002-8380-6370</a></td></tr>
<tr><td>Jean-Marc Delouis</td><td>IFREMER (France)</td><td>@jmdelouis</td><td><a href="https://orcid.org/0000-0002-1784-2920">0000-0002-1784-2920</a></td></tr>
<tr><td>Justus Magin</td><td>CNRS-LOPS (France)</td><td>@keewis</td><td><a href="https://orcid.org/0000-0002-4254-8002">0000-0002-4254-8002</a></td></tr>
<tr><td>Ola Formo Kihle</td><td>Independent Consultant / UW Contractor</td><td>@ofk123</td><td><a href="https://orcid.org/0000-0001-7294-8990">0000-0001-7294-8990</a></td></tr>
<tr><td>Tina Odaka</td><td>IFREMER (France)</td><td>@tinaok</td><td><a href="https://orcid.org/0000-0002-1500-0156">0000-0002-1500-0156</a></td></tr>
<tr><td>Anne Fouilloux</td><td>Simula Research Laboratory (Norway)</td><td>@annefou</td><td><a href="https://orcid.org/0000-0002-1784-2920">0000-0002-1784-2920</a></td></tr>
</tbody></table>
<p>In the picture below, you can see the Hack4RiOMar team, listed from left to right: Tina, Even, Anne, Jean-Marc, Justus, and Ola.</p>
<p><img src="https://fair2adapt.github.io/Hack4RiOMAR/workathon/blog/Hack4RiOMar_team.png" alt="Picture of all the participants at Geilo during the workathon" /></p>
<h3 id="key-achievements-trophy">Key Achievements 🏆</h3>
<h4 id="aggregating-virtual-datasets">Aggregating Virtual Datasets</h4>
<p>We successfully aggregated virtual datasets into a single dataset using VirtualiZarr with kerchunk. Despite challenges with icechunk, alternative approaches enabled us to:</p>
<ul>
<li>Write Virtual Zarr locally and upload to accessible locations (e.g., Pangeo-EOSC S3, Datarmor IFREMER HC cluster).</li>
<li>Develop a <a href="https://fair2adapt.github.io/Hack4RiOMAR/notebooks/virtualizarr_riomar_kerchunk.html">Jupyter notebook showcasing this workflow</a>.</li>
</ul>
<h4 id="transforming-data-into-dggs-grids">Transforming Data into DGGS Grids</h4>
<ul>
<li>A sample RiOMar dataset was transformed into a DGGS (Healpix) grid at various resolutions. Check the corresponding Jupyter Notebook <a href="https://fair2adapt.github.io/Hack4RiOMAR/notebooks/pangeo-riomar.html">here</a>. In the figure below, you can see the DGGS-transformed RiOMar data (temperature in degrees Celsius).
<img src="https://fair2adapt.github.io/Hack4RiOMAR/workathon/blog/RiOMar2DGGS.png" alt="RiOMar data to DGGS (Healpix)" /></li>
<li>To validate the robustness of the procedure, other datasets were transformed to DGGS: 
<ul>
<li><a href="https://fair2adapt.github.io/Hack4RiOMAR/notebooks/GEBCO_HEALPIX.html">Jupyter notebook to transform GEBCO Bathymetry data into DGGS (Healpix)</a>
The figure below shows the GEBCO Bathymetry data transformed into DGGS:
<img src="https://fair2adapt.github.io/Hack4RiOMAR/workathon/blog/GEBCO-healpix-plot.png" alt="GEBCO DGGS-transformed visualisation with xdggs and lonboard" /></li>
<li><a href="https://fair2adapt.github.io/Hack4RiOMAR/notebooks/pangeo-argo-KE-regridding.html">Jupyter notebook to transform Argo Kinetic Energy to DGGS (Healpix)</a></li>
</ul>
</li>
<li>Visualizing transformed data with <a href="http://xdggs.readthedocs.io/en/latest/">xdggs</a> (based on <a href="https://developmentseed.org/lonboard/latest/">lonboard</a>).</li>
</ul>
<h4 id="creating-conda-environments">Creating Conda Environments</h4>
<p>To standardize workflows across platforms, we initiated Conda environments on Datarmor with:</p>
<ul>
<li>Support for Cubed and Dask libraries.</li>
<li>Compatibility testing across platforms.</li>
</ul>
<h4 id="testing-multi-resolution-zarr-formats">Testing Multi-Resolution Zarr Formats</h4>
<p>Multiscale Zarr storage was tested for DGGS-transformed datasets, allowing us to:</p>
<ul>
<li>Explore hierarchical representations of RiOMar (see corresponding <a href="https://fair2adapt.github.io/Hack4RiOMAR/notebooks/riomar_plots-datatree_multiresoplot.html">Jupyter Notebook</a>).</li>
<li>Identify the potential for improved data accessibility and interoperability.</li>
</ul>
<h4 id="ro-crate-for-fair-metadata">RO-Crate for FAIR Metadata</h4>
<p>A sample dataset was encapsulated into a RO-Crate, helping:</p>
<ul>
<li>Assess the existing metadata for FAIR compliance.</li>
<li>Identify missing elements, such as unique creator identifiers and data provenance.</li>
<li>Check the corresponding Jupyter Notebook <a href="https://fair2adapt.github.io/Hack4RiOMAR/notebooks/Riomar_RO.html">here</a></li>
</ul>
<h3 id="challenges-insights">Challenges &amp; Insights 🧩</h3>
<p><strong>Icechunk Usability:</strong> Limited documentation hindered progress, but kerchunk provided a robust alternative for creating virtual datasets.</p>
<p><strong>Interpolation Methods:</strong> Conservative interpolation is needed for future case studies (e.g., radionuclide distribution in Arctic scenarios) to ensure mass conservation during regridding.</p>
<p><strong>Metadata Gaps:</strong> Significant metadata enhancements are required for RiOMar datasets to meet FAIR standards.</p>
<h3 id="jupyter-notebooks-blue-book">Jupyter Notebooks 📘</h3>
<p>We developed <a href="https://github.com/FAIR2Adapt/Hack4RiOMAR/tree/main/notebooks"><strong>20</strong> Jupyter notebooks</a> during the event!</p>
<h3 id="where-to-find-our-work-mag">Where to Find Our Work 🔍</h3>
<ul>
<li><strong>GitHub Repository:</strong> <a href="https://github.com/FAIR2Adapt/Hack4RiOMAR/tree/main/notebooks">Hack4RiOMar Notebooks</a></li>
<li><strong><a href="https://fair2adapt.github.io/Hack4RiOMAR/notebooks/index.html">Rendered Notebooks with Highlights</a>:</strong> A Jupyter Book version of key notebooks showcases our successes, challenges, and next steps.</li>
</ul>
<h3 id="next-steps-walking">Next Steps 🚶</h3>
<ul>
<li>Refine workflows for virtual dataset aggregation and DGGS transformations.</li>
<li>Address metadata gaps to ensure comprehensive FAIR compliance.</li>
<li>Expand testing on additional datasets to validate the robustness of our methodologies.</li>
</ul>
<p>Hack4RiOMar demonstrated the power of collaboration 🤝 and gave a great head start to the FAIR2Adapt case studies. Thanks to everyone, and stay tuned for further updates as we build on these achievements!</p>



    <nav>
        
            <a href="https://fair2adapt.github.io/Hack4RiOMAR/workathon/">⇦ Page précédente</a>
        
        
        
    </nav>



    <!-- <% if current_page.data.prev || current_page.data.next %>
        <nav>
          <% if current_page.data.prev %>
            <a href="/<%= current_page.data.prev %>">⇦ Page précédente</a>
          <% end%>
          <% if current_page.data.next %>
            <a href="/<%= current_page.data.next %>">Page suivante ⇨</a>
          <% end%>
        </nav>
        <% end %> -->
  </main>
  <footer>
    <p>This website is <a href="https:&#x2F;&#x2F;github.com&#x2F;FAIR2Adapt&#x2F;Hack4RiOMAR">modifiable by everyone</a>.</p>
    <p>It is distributed under GPLv3.0 License</p>
  </footer>
  <script src="https://fair2adapt.github.io/Hack4RiOMAR/theme.js" integrity="sha384-6r35zGFpokRvH+f/QNl+jia1+5Xqg4mWTiIL43kLNjMv//Po/P7ypL4mD9BqZc9q"></script>
</body>

</html>
