




<!DOCTYPE HTML>
<html lang="fr" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <link rel="icon" type="image/svg+xml" href="https:&#x2F;&#x2F;raw.githubusercontent.com&#x2F;FAIR2Adapt&#x2F;Hack4RiOMAR&#x2F;refs&#x2F;heads&#x2F;main&#x2F;static&#x2F;riomar.png" />
  <meta property="og:title" content="Event Highlights &amp; Outcomes ⋅ Hack4RiOMAR" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="fr_FR" />
  <meta property="og:site_name" content="Hack4RiOMAR" />
  <meta property="og:url" content="https:&#x2F;&#x2F;fair2adapt.github.io&#x2F;Hack4RiOMAR&#x2F;workathon&#x2F;highlights&#x2F;" />
  <meta property="og:description" content="" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Event Highlights &amp; Outcomes ⋅ Hack4RiOMAR" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:url" content="https:&#x2F;&#x2F;fair2adapt.github.io&#x2F;Hack4RiOMAR&#x2F;workathon&#x2F;highlights&#x2F;" />
  <meta name="twitter:card" content="summary" />
  
  
  <meta property="og:image" content="https://fair2adapt.github.io/Hack4RiOMAR/illus.png" />
  <meta name="twitter:image" content="https://fair2adapt.github.io/Hack4RiOMAR/illus.png" />
  
  <title>Event Highlights &amp; Outcomes ⋅ Hack4RiOMAR</title>
  <link rel="stylesheet" href="https://fair2adapt.github.io/Hack4RiOMAR/site.css?h=dbc406d2f9b11f8421d6" media="all" />
  
  <style>
    * {
      --primary: #1DC690;

      --accent: #1D6886;
    }
  </style>
</head>

<body>
  <header>
    <h1><a href="/">Hack4RiOMAR</a></h1>
    <img src="https:&#x2F;&#x2F;raw.githubusercontent.com&#x2F;FAIR2Adapt&#x2F;Hack4RiOMAR&#x2F;refs&#x2F;heads&#x2F;main&#x2F;static&#x2F;riomar.png" alt="Icon of the RiOMar project" style="border: none; width: 50px;" />
  </header>
  
  <main>
    
    
    
    
    <a href="https:&#x2F;&#x2F;fair2adapt.github.io&#x2F;Hack4RiOMAR&#x2F;">DGGS for FAIR2Adapt case studies</a>
    
    
    &mdash;
    <a href="https:&#x2F;&#x2F;fair2adapt.github.io&#x2F;Hack4RiOMAR&#x2F;workathon&#x2F;">Workathon Overview</a>
    
    <h1>Event Highlights &amp; Outcomes</h1>
    
    




    



    
    
        
        
        
            
        
            
                
            
        
            
        
    

<h2 id="hack4riomar-summary-and-outcomes">Hack4RiOMar summary and outcomes</h2>
<p><em>The event was attended in person by six motivated participants, who collaborated to tackle the challenges at hand and advance the FAIR2Adapt RiOMar Case Study. We would like to thank the external experts who joined the hackathon, despite not being part of the FAIR2Adapt project, and attended at their own expense.</em></p>
<h3 id="participants">Participants</h3>
<p><strong>Name, organisation, Github username</strong>:</p>
<ul>
<li><strong>Even Moa Myklebust</strong>, Simula Research Laboratory (Norway), @evenmm </li>
<li><strong>Jean-Marc Delouis</strong>, IFREMER (France), @jmdelouis</li>
<li><strong>Justus Magin</strong>, CNRS-LOPS (France), @keewis</li>
<li><strong>Ola Formo Kihle</strong>, Independent Consultant / University of Washington Contractor, (Norway), @ofk123</li>
<li><strong>Tina Odaka</strong>, IFREMER (France), @tinaok</li>
<li><strong>Anne Fouilloux</strong>, Simula Research Laboratory (Norway), @annefou</li>
</ul>
<h3 id="short-summary-of-the-hack4riomar-workathon">Short summary of the Hack4RiOMar workathon</h3>
<ul>
<li>Successfully aggregated virtual datasets into a single dataset using virtualiZarr, using kerchunk while we still have issues with icechunk.</li>
<li>Successfully transformed a sample RiOMar dataset into DGSS (Healpix) grid using different resolutions</li>
<li>Tested the use and potential of multiscale Zarr for DGGS-transformed RiOMar datasets.</li>
<li>Initiated the process of creating Conda environments on Datarmor, one with cubed and one with dask.</li>
<li>Tried out transformation of datasets into DGGS (Healpix grid) to test the robustness of our approach:
<ul>
<li>Successfully regridded the Argo Kinetic Energy product from Cartesian grid to a discrete global grid system, using xdggs and xarray_healpy.</li>
<li>Completed regridding and exposed the zarr file for Gebco data, with a notebook for plotting the data.</li>
</ul>
</li>
<li>Created a RO-Crate for RiOMar data to determine if the minimum required metadata is already available.</li>
</ul>
<h3 id="jupyter-notebooks">Jupyter Notebooks</h3>
<p>We created <a href="https://github.com/FAIR2Adapt/Hack4RiOMAR/tree/main/notebooks"><strong>20</strong> Jupyter notebooks</a>. Some are still in progress or contain issues we have discovered (e.g., these notebooks did not run successfully). </p>
<p><strong>12</strong> notebooks have successfully run, showcasing and explaining the progress and results of each planned task. Let's dig into each planned task and review the progress:</p>
<ol>
<li><strong>Create virtualiZarr of RiOMar Data</strong>: The goal was to use <a href="http://virtualizarr.readthedocs.io">virtualzarr</a> and <a href="http://icechunk.io">icechunk</a> to create a single Virtual RiOMar dataset using VirtualiZarr, aiming to make the RiOMar data accessible from anywhere. 
<ul>
<li>This approach is very promising and a <a href="https://fair2adapt.github.io/Hack4RiOMAR/notebooks/virtualizarr_riomar_icechunk.html">Jupyter notebook</a> was developed during the workathon. </li>
<li>However, we did not figure out how to use icechunk on non-amazon s3 buckets (the documentation is out-of-sync with the newest alpha version which made our work very difficult). </li>
<li>We managed to use Icechunk to write the Virtual Zarr to a local filesystem (we can then push it on any S3 bucket) but we realized that icechunk cannot yet store references to <code>https</code> (RiOMar data is currently stored on Datamor e.g. IFREMER HPC cluster and made accessible to everyone via <code>https</code>).</li>
<li>As an alternative solution, we used kerchunk with virtualzarr and write to a local kerchunk parquet and upload it afterwards to a location where averyone can access it (pangeo-eosc S3, or Datamor &quot;portal&quot;)</li>
</ul>
</li>
<li><strong>Create an example to demonstrate how to read RiOMar data and perform regridding to a DGGS (Healpix) grid</strong>:
<ul>
<li>We first created <a href="https://fair2adapt.github.io/Hack4RiOMAR/notebooks/pangeo-riomar_resize_datarmor.html">a small sample RiOMar dataset</a> to make it easier to test the transformation of RiOMar data to DGGS (Healpix)</li>
<li>Regridded <a href="https://fair2adapt.github.io/Hack4RiOMAR/notebooks/pangeo-riomar.html">RiOMar data to DGGS (Healpix)</a></li>
<li><a href="https://fair2adapt.github.io/Hack4RiOMAR/notebooks/visualize-riomar.html">Visualize RiOMAR dggs-transformed data with xddgs and lonboard</a></li>
</ul>
</li>
<li><strong>Regrid other types of data such as Odysea and/or NorESM and/or GEBCO gridded bathymetry data and/or Argo Kinetic Energy Product to DGGS (Healpix) to assess the robustness of the transformation procedure</strong>: transforming Odysea (Ocean DYnamics and Surface Exchange with the Atmosphere) data is particularly interesting because it originates from remote sensing with satellite tracks, making the data very sparse—a characteristic shared with many other data sources used in the FAIR2Adapt project. NorESM (Norwegian Earth System Modelling) data will be used for another FAIR2Adapt case study. The GEBCO dataset is very popular and would be very useful for the FAIR2Adapt project. Transforming Argo Kinetic Energy Product into DGGS (Healpix) would help to understand if the procedure we have developed is robust. Our goal would be to write a short <em>recipe</em> that could be part of the data publishing pipeline we will develop within the FAIR2Adapt project.
<ul>
<li><a href="https://fair2adapt.github.io/Hack4RiOMAR/notebooks/GEBCO_HEALPIX.html">Transform GEBCO Bathymetry data to DGGS</a> and <a href="https://fair2adapt.github.io/Hack4RiOMAR/notebooks/gebco_plots.html">Visualize the DGGS GEBCO Gridded Bathymetry with xdggs</a></li>
<li><a href="https://fair2adapt.github.io/Hack4RiOMAR/notebooks/pangeo-argo-KE-regridding.html">Transform ARGO-KE products into DGGS (Healpix)</a></li>
<li><a href="https://fair2adapt.github.io/Hack4RiOMAR/notebooks/NorESM-CS1.html">Prepare the ground for the second FAIR2Adapt Case study with NorESM sample dataset</a> and tried to <a href="https://fair2adapt.github.io/Hack4RiOMAR/notebooks/NorESM-regridding.html">transform NorESM data to DGGS (Healpix)</a>. It did not work and we will need to investigate further. In addition, we believe that using bilinear interpolation will not be appropriate for this second case study (Spread of radioactive isotopes in the Arctic under different climate scenarios to understand the climate change impact on radionuclide distribution for public and environmental safety) and we will need to use conservative interpolation to ensure mass conservation during regridding.</li>
</ul>
</li>
<li><strong>Create Conda Environment</strong>: the goal is to be able to use the same conda environment on different platform, including on Datarmor (HPC cluster of IFREMER). The plan is to create two environments: one with Cubed and one with Dask.</li>
<li><strong>Apply regridding to DGGS with different resolution to test multilevel (/multiscale) zarr storage format</strong>
<ul>
<li><a href="https://fair2adapt.github.io/Hack4RiOMAR/notebooks/riomar_plots-datatree_multiresoplot.html">Multi-resolution RiOMar data</a></li>
<li><a href="https://github.com/FAIR2Adapt/Hack4RiOMAR/blob/main/notebooks/odyssea_plots-datatree_multiresoplot_works1.ipynb">Multi-resolution Odysea data</a></li>
</ul>
</li>
<li><strong>Parallelize the transformation procedure and test it on the same datasets used in 3.</strong></li>
<li><strong>Create a RO-Crate for RiOMar Data</strong>: Explore the metadata available within the RiOMar data (checking if they truly follow the CF-Convention) and review the preliminary metadata work conducted within the RiOMar project to assess the current state and identify what needs to be done to make the RiOMar data FAIR. 
<ul>
<li><a href="https://fair2adapt.github.io/Hack4RiOMAR/notebooks/Riomar_RO.html">Creation of RO-Crate from a RiOMar sample dataset</a></li>
<li>We also tested the <a href="https://www.sigma2.no/news/2024/enhancing-data-accessibility-our-next-generation-nird-research-data-archive">new NIRD archive</a> which we plan to use within the FAIR2Adapt project. We archived a sample RiOMAr dataset into the new test archive and created a Jupyter notebook to show how to create a <a href="https://fair2adapt.github.io/Hack4RiOMAR/notebooks/NIRD_riomar_RO.html">RO-Crate from RiOMar dataset archived on NIRD</a>. This notebook will not work for most users since we have used a test instance of the new archive where only the NIRD archive team and a few test users have access to. It was however very useful to identify which metadata is missing from the RiOMar data (for instance, a unique identifier of the data creator, clear information on the provenance).</li>
</ul>
</li>
<li><strong>Create a STAC Item for RiOMar Dataset</strong></li>
</ol>
<h3 id="where-to-find-our-work">Where to find our work</h3>
<ul>
<li>Github repository with all the notebooks we created: <a href="https://github.com/FAIR2Adapt/Hack4RiOMAR/tree/main/notebooks">https://github.com/FAIR2Adapt/Hack4RiOMAR/tree/main/notebooks</a></li>
<li><a href="https://fair2adapt.github.io/Hack4RiOMAR/workathon/highlights/notebooks/index.html">The rendered version (Jupyter Book) of the highlight Jupyter notebooks</a></li>
<li>Check out our <a href="https://fair2adapt.github.io/Hack4RiOMAR/workathon/highlights/fair2adapt.github.io/Hack4RiOMAR/">Hack4RiOMar blog</a> to learn more about what we did, our successes and challenges, as well as the next steps we identified!</li>
</ul>



    <nav>
        
            <a href="https://fair2adapt.github.io/Hack4RiOMAR/workathon/">⇦ Page précédente</a>
        
        
        
    </nav>



    <!-- <% if current_page.data.prev || current_page.data.next %>
        <nav>
          <% if current_page.data.prev %>
            <a href="/<%= current_page.data.prev %>">⇦ Page précédente</a>
          <% end%>
          <% if current_page.data.next %>
            <a href="/<%= current_page.data.next %>">Page suivante ⇨</a>
          <% end%>
        </nav>
        <% end %> -->
  </main>
  <footer>
    <p>This website is <a href="https:&#x2F;&#x2F;github.com&#x2F;FAIR2Adapt&#x2F;Hack4RiOMAR">modifiable by everyone</a>.</p>
    <p>It is distributed under GPLv3.0 License</p>
  </footer>
  <script src="https://fair2adapt.github.io/Hack4RiOMAR/theme.js" integrity="sha384-6r35zGFpokRvH+f/QNl+jia1+5Xqg4mWTiIL43kLNjMv//Po/P7ypL4mD9BqZc9q"></script>
</body>

</html>
